@import '@fontsource/iosevka-curly';

body {
	margin: 0;
}

html, body, #root {
	height: 100%;
}

.handsontable {
  font-family: 'Iosevka Curly', monospace;
}

.htCore td {
  position: relative;
}

.htCore td canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
